.focus-container-logo {
  position: relative;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.focus-word-logo {
  position: relative;
  font-size: 1vw;
  font-weight: 900;
  cursor: pointer;
  transition:
    filter 0.3s ease,
    color 0.3s ease;
}

@media (max-width: 600px) {
  .focus-word-logo {
    font-size: 3.5vw;
  }
}

.focus-word-logo.active {
  filter: blur(0.5);
}

.focus-frame-logo {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: content-box;
  border: none;
}

.corner-logo {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border: 2px solid var(--border-color, #fff);
  filter: drop-shadow(0px 0px 2px var(--border-color, #fff));
  border-radius: 3px;
  transition: none;
}

.top-left-logo {
  top: -8px;
  left: -8px;
  border-right: none;
  border-bottom: none;
}

.top-right-logo {
  top: -8px;
  right: -8px;
  border-left: none;
  border-bottom: none;
}

.bottom-left-logo {
  bottom: -8px;
  left: -8px;
  border-right: none;
  border-top: none;
}

.bottom-right-logo {
  bottom: -8px;
  right: -8px;
  border-left: none;
  border-top: none;
}
