.text-block {
  max-width: 1200px;
  font-size: 1.2vw;
  color: #bbbbbb;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 2.5vw;
  }
}

.char {
  will-change: transform;
  display: inline-block;
  font-weight: lighter;
}